<template>
  <div>
    <Navbar />
    <Nuxt />
    <Footer />
  </div>
</template>

 <script>
  export default {
    head: {
    script: [
      {
        src: "https://kit.fontawesome.com/bb039d2af4.js",
        crossorigin: "anonymous"
      }
    ],
  },
  }
  </script>
