<template>
  <!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ]
  }
  ```
-->
  <div class="relative bg-white">
    <div class="lg:absolute lg:inset-0">
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img
          class="h-56 w-full object-cover lg:absolute lg:h-full"
          src="https://images.unsplash.com/photo-1556761175-4b46a572b786?ixlib=rb-1.2.1&ixqx=t7HlT49Hjo&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80"
          alt=""
        />
      </div>
    </div>
    <div
      class="relative py-16 px-4 sm:py-24 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:py-32 lg:grid lg:grid-cols-2"
    >
      <div class="lg:pr-8">
        <div class="max-w-md mx-auto sm:max-w-lg lg:mx-0">
          <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
            Creative Agency Home Services Work Contact
          </h2>
          <p class="mt-4 text-lg text-gray-500 sm:mt-3">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus iusto molestias accusamus rem nobis est, et laborum harum doloremque nemo non, minima quos totam labore
          </p>
          <form
            action="#"
            method="POST"
            class="mt-9 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8 py-4 sm:py-12"
          >
            <div>
              <label
                for="first_name"
                class="block text-sm font-medium text-gray-700"
                >First name</label
              >
              <div class="mt-1">
                <input
                  type="text"
                  name="first_name"
                  id="first_name"
                  autocomplete="given-name"
                  class=" block w-full shadow-xl border-2 sm:text-sm focus:ring-red-500 focus:border-red-500 focus:outline-none border-gray-400 p-1 rounded-md"
                />
              </div>
            </div>
            <div>
              <label
                for="last_name"
                class="block text-sm font-medium text-gray-700"
                >Last name</label
              >
              <div class="mt-1">
                <input
                  type="text"
                  name="last_name"
                  id="last_name"
                  autocomplete="family-name"
                  class=" block w-full shadow-xl border-2 sm:text-sm focus:ring-red-500 focus:border-red-500 focus:outline-none border-gray-400 p-1 rounded-md"
                />
              </div>
            </div>
            <div class="sm:col-span-2">
              <label for="email" class="block text-sm font-medium text-gray-700"
                >Email</label
              >
              <div class="mt-1">
                <input
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  class=" block w-full shadow-xl border-2 sm:text-sm focus:ring-red-500 focus:border-red-500 focus:outline-none border-gray-400 p-1 rounded-md"
                />
              </div>
            </div>

            <div class="sm:col-span-2">
              <div class="flex justify-between">
                <label
                  for="subject"
                  class="block text-sm font-medium text-gray-700"
                  >Subject</label
                >
                <span id="subject_description" class="text-sm text-gray-500"
                  >Optional</span
                >
              </div>
              <div class="mt-1">
                <input
                  type="text"
                  name="subject"
                  id="subject"
                  autocomplete="tel"
                  aria-de scribedby="subject_description"
                  class="block w-full shadow-xl border-2 sm:text-sm focus:ring-red-500 focus:border-red-500 focus:outline-none border-gray-400 p-1 rounded-md"
                />
              </div>
            </div>
            <div class="sm:col-span-2">
              <div class="flex justify-between">
                <label
                  for="how_can_we_help"
                  class="block text-sm font-medium text-gray-700"
                  >How can we help you?</label
                >
                <span
                  id="how_can_we_help_description"
                  class="text-sm text-gray-500"
                  >Max. 500 characters</span
                >
              </div>
              <div class="mt-1">
                <textarea
                  id="how_can_we_help"
                  name="how_can_we_help"
                  aria-describedby="how_can_we_help_description"
                  rows="4"
                  class="block w-full shadow-xl border-2 sm:text-sm focus:ring-red-500 focus:border-red-500 focus:outline-none border-gray-400 p-1 rounded-md"
                ></textarea>
              </div>
            </div>
            <div class="text-right sm:col-span-2">
              <button
                type="submit"
                class="inline-flex shadow-xl justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
