<template>
  <div class="max-w-6xl m-auto">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white">
      <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-20">
        <div class="space-y-12">
          <div
            class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none"
          >
            <h2
              class="text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl"
            >
              Services that we can help you with
            </h2>
            <p class="text-xl text-gray-800">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Doloribus iusto molestias accusamus rem nobis est, et laborum
              harum doloremque nemo non, minima quos totam labore maxime iste
              alias ut esse? Repellat eaque reiciendis laboriosam corporis fuga
              vero ratione veritatis numquam, libero magni voluptatum omnis
              molestiae officiis exercitationem qui quidem nam.
            </p>
          </div>
          <ul
            class="space-y-4 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:grid-cols-3 lg:gap-8"
          >
            <li class="py-10 px-6 bg-gray-300 text-center rounded-lg xl:px-10">
              <div class="space-y-6 xl:space-y-10">
                <i class="fas fa-paint-brush text-6xl text-gray-600"></i>
                <div
                  class="space-y-2 xl:flex xl:items-center xl:justify-between"
                >
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-gray-900">Design</h3>
                    <p class="text-gray-700">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Harum omnis nemo sapiente in quidem sed dolores cumque!
                      Ut, est aliquid!
                    </p>
                  </div>
                </div>
              </div>
            </li>
                 <li class="py-10 px-6 bg-gray-300 text-center rounded-lg xl:px-10">
              <div class="space-y-6 xl:space-y-10">
                <i class="fas fa-eye text-6xl text-gray-600"></i>
                <div
                  class="space-y-2 xl:flex xl:items-center xl:justify-between"
                >
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-gray-900">Development</h3>
                    <p class="text-gray-700">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Harum omnis nemo sapiente in quidem sed dolores cumque!
                      Ut, est aliquid!
                    </p>
                  </div>
                </div>
              </div>
            </li>      <li class="py-10 px-6 bg-gray-300 text-center rounded-lg xl:px-10">
              <div class="space-y-6 xl:space-y-10">
                <i class="fas fa-film text-6xl text-gray-600"></i>
                <div
                  class="space-y-2 xl:flex xl:items-center xl:justify-between"
                >
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-gray-900">SEO</h3>
                    <p class="text-gray-700">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Harum omnis nemo sapiente in quidem sed dolores cumque!
                      Ut, est aliquid!
                    </p>
                  </div>
                </div>
              </div>
            </li>      <li class="py-10 px-6 bg-gray-300 text-center rounded-lg xl:px-10">
              <div class="space-y-6 xl:space-y-10">
                <i class="fas fa-image text-6xl text-gray-600"></i>
                <div
                  class="space-y-2 xl:flex xl:items-center xl:justify-between"
                >
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-gray-900">Marketing</h3>
                    <p class="text-gray-700">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Harum omnis nemo sapiente in quidem sed dolores cumque!
                      Ut, est aliquid!
                    </p>
                  </div>
                </div>
              </div>
            </li>      <li class="py-10 px-6 bg-gray-300 text-center rounded-lg xl:px-10">
              <div class="space-y-6 xl:space-y-10">
                <i class="fas fa-bell text-6xl text-gray-600"></i>
                <div
                  class="space-y-2 xl:flex xl:items-center xl:justify-between"
                >
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-gray-900">App Development</h3>
                    <p class="text-gray-700">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Harum omnis nemo sapiente in quidem sed dolores cumque!
                      Ut, est aliquid!
                    </p>
                  </div>
                </div>
              </div>
            </li>      <li class="py-10 px-6 bg-gray-300 text-center rounded-lg xl:px-10">
              <div class="space-y-6 xl:space-y-10">
                <i class="fas fa-exclamation-triangle text-6xl text-gray-600"></i>
                <div
                  class="space-y-2 xl:flex xl:items-center xl:justify-between"
                >
                  <div class="font-medium text-lg leading-6 space-y-1">
                    <h3 class="text-gray-900">Error Fixing</h3>
                    <p class="text-gray-700">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Harum omnis nemo sapiente in quidem sed dolores cumque!
                      Ut, est aliquid!
                    </p>
                  </div>
                </div>
              </div>
            </li>

            <!-- More items... -->
          </ul>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {};
</script>

<style>
</style>
