<template>
  <div class="max-w-6xl m-auto">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white">
      <div class="mx-auto py-8 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-12">
        <div class="space-y-12">
          <div
            class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none"
          >
            <h1
              class="text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl"
            >
              Creative Agency
            </h1>
            <h2 class="text-3xl pt-20 text-gray-900 tracking-tight sm:text-4xl">
              Some of our finest work
            </h2>
            <p class="text-xl text-gray-800">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Doloribus iusto molestias accusamus rem nobis est, et laborum
              harum doloremque nemo non, minima quos totam labore maxime iste
              alias ut esse? Repellat eaque reiciendis laboriosam corporis fuga
              vero ratione veritatis numquam, libero magni voluptatum omnis
              molestiae officiis exercitationem qui quidem nam.
            </p>
          </div>
          <ul
            class="space-y-4 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:grid-cols-3 lg:gap-2"
          >
            <li class="bg-gray-300 rounded-lg">
              
                <img src="images/01.jpg" alt="" class="w-full h-full"/>
              
            </li>
            <li class="bg-gray-300 rounded-lg">
              
                <img src="images/02.jpg" alt="" class="w-full h-full"/>
              
            </li>
            <li class="bg-gray-300 rounded-lg">
              
                <img src="images/03.jpg" alt="" class="w-full h-full"/>
              
            </li>
            <li class="bg-gray-300 rounded-lg">
              
                <img src="images/04.jpg" alt="" class="w-full h-full"/>
              
            </li>
            <li class="bg-gray-300 rounded-lg">
              
                <img src="images/05.jpg" alt="" class="w-full h-full"/>
              
            </li>
            <li class="bg-gray-300 rounded-lg">
              
                <img src="images/06.jpg" alt="" class="w-full h-full"/>
              
            </li>
            <li class="bg-gray-300 rounded-lg">
              
                <img src="images/07.jpg" alt="" class="w-full h-full"/>
              
            </li>
            <li class="bg-gray-300 rounded-lg">
              
                <img src="images/08.jpg" alt="" class="w-full h-full"/>
              
            </li>
            <li class="bg-gray-300 rounded-lg">
              
                <img src="images/09.jpg" alt="" class="w-full h-full"/>
              
            </li>
            <li class="bg-gray-300 rounded-lg">
              
                <img src="images/10.jpg" alt="" class="w-full h-full"/>
              
            </li>

            <!-- More items... -->
          </ul>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {};
</script>

<style>
</style>
